
<!DOCTYPE html>
<html>
  
    <link href="../css/history.css"
          rel="stylesheet"
          type="text/css">
    <title>History</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
      </head>
      <body>
        <h2> History </h2>
  <h3>"Blackpink in your area"</h3>
        <p id="history1"> This page is about the origins of the blackpink members.They did not just apear from thin air.
        </p>
        <span> Jisoo </span>
        <ul id="History-list">
          <li>Born on January 3 1995</li>
          <li> Homeland:=Seoul</li>
          <li>Instruments:Vocals</li>
          <li> Ocupations:Singer,actress,model</li>
        </ul>
        <p></p>
           <span> Rose</span>
        <ul id="History-list">
          <li>Born on 11 February 1997</li>
          <li> Homeland:=Seoul</li>
          <li>Instruments:Vocals</li>
          <li> Ocupations:Singer,actress,model</li>
          <p>Roseanne Park (born 11 February 1997), better known by the stage name Rose is a New Zealand singer currently based in South Korea. Rose signed with South Korean label YG Entertainment following an audition in 2012, training there for four years. She eventually made her debut as a vocalist in the girl group Blackpink in August 2016. As a solo artist, she has featured in labelmate G-Dragon's 2012 track "Without You", which peaked at number ten on the Gaon Music Chart.</p>
          <span>Jennie<span>
         <li>Born on January16 1996</li>
          <li> Homeland:=Seoul</li>
          <li>Instruments:Vocals</li>
          <li>Singer,rapper,model</li>
            <p>Jennie Kim was born in Cheongdam-dong, Seoul, South Korea on January 16, 1996, and is her family's only child. At the age of 9, she was sent abroad to study at ACG Parnell College in Auckland, New Zealand. In 2006, Jennie made a short appearance on MBC’s documentary "English, Must Change to Survive", where she spoke about her experiences in learning a new language. In 2010, she moved back to South Korea and participated in an audition held by YG Entertainment, later successfully joining the label as a trainee</p>
             <span>Lisa<span>
         <li>Born on March 27 1997</li>
          <li> Homeland:=Thialand</li>
          <li>Instruments:Vocals</li>
          <li>Singer,rapper,model,dancer</li>
               Pranpriya Manoban was born on March 27, 1997 in Buriram Province, Thailand. Later, her name was changed to Lalisa. She is an only child to Thai mother and Swiss step-father, a Swiss restaurant consultant and Thai food expert based in Bangkok. Lisa completed her secondary education at Praphamontree School 1 and 2. From a young age, Lisa gained an interest in the South Korean pop industry, namely admiring artists Big Bang and 2NE1, hence wishing to someday follow down a similar path.<br>
          <img src="https://pkpkgirls.files.wordpress.com/2018/07/180717-cosmopolitan-aug-2018.jpg" width="400px">  
        </ul>
      </body>
      </html>