<!DOCTYPE html>
<html>
<head>
  <link href="../css/style.css" rel="Stylesheet"
        type="text/css">
  <title>My Project</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  </head>
<body>
  <h2 id="Blackpink"> Blackpink </h2>
  <h3>"Blackpink in your area"</h3>
  <p> Blackpink is a South Korean girl group formed by YG Entertainment, consisting of members Jisoo, Jennie, Rose, and Lisa. The group debuted on August 8, 2016,</p>
  <nav>
    <ul id="navigation">
      <li><a href="index.html">Home</a></li>
      <li><a href="history.html">History</a></li>
      <li><a href="achievement.html">Achievements</a> </li>
      <li><a href="socialmedia.html">Social Media</a></li>
      
      </ul>
  </nav>
  <img src="https://cdn1.i-scmp.com/sites/default/files/styles/1200x800/public/images/methode/2019/02/11/004f52a6-2dae-11e9-80ef-0255f1ad860b_image_hires_181044.JPG?itok=i_vPyiJr&v=1549879843"height=300px>
   <span id="merch"> Get the Blackpink merch here</span><a href="https://shop.blackpinkmusic.com/"target="_blank">  click here </a> 
  <p>Blackpink's latest album "Kill This Love" has music for any type.</p> 
  <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D820%252C462%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C901%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-04%252Fffd85c10-5a25-11e9-bf76-cfd6cc85a901%26client%3Da1acac3e1b3290917d92%26signature%3Dffcee5829d35dad0b91b66e918da04308ce20f76&client=amp-blogside-v2&signature=6ccb24f0d56fb96df9e368ea868997f7cfe479c7"height=300px>
  <img src="https://i.ytimg.com/vi/aCLXuPiTTeg/maxresdefault.jpg" width=400px>
  <a href="https://www.youtube.com/watch?v=6tbBFwqhFzA&list=RD6tbBFwqhFzA&start_radio=1&t=0="target="_blank">Listen to the album here.</a>
  </body>
</html>